body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    padding: 20px;
}

.imagem {
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;
    margin: 20px auto;
}

.contador,
.mensagem {
    font-size: 1.5em;
    margin: 20px 0;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.titulo h1,
h2,
h3 {
    color: #ff4d4d;
}

/* Estilo da Timeline */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 0px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #ff6b9e;
    /* Cor do fio da timeline */
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1.5px;
}

.timeline-item {
    padding: 20px 10px;
    position: relative;
    width: 50%;
    box-sizing: border-box;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff1466;
    /* Cor do marcador */
    border-radius: 50%;
    top: 15px;
    z-index: 1;
}

.timeline-content {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.timeline-content h3 {
    margin-top: 0px;
    color: #ff6b9e;
}

.timeline-content p {
    color: black;
    margin-bottom: 0;
}

.timeline-content p:first-of-type {
    font-weight: bold;
    font-style: italic;
}

.timeline-content p:nth-of-type(2) {
  font-family: 'Indie Flower', cursive; /* Ou 'Dancing Script' */
  font-weight: 600;
  color: #666;
  line-height: 1.4;
}

.left {
    left: 0;
    text-align: right;
}

.right {
    left: 50%;
    text-align: left;
}

.left::after {
    right: -10px;
}

.right::after {
    left: -10px;
}